<footer class="site-footer">

    <a href="#top" class="smoothscroll scroll-top">
      <span class="icon-keyboard_arrow_up"><i class='bx bxs-chevron-up'></i></span>
    </a>

    <div class="container">
      <div class="row  mb-5 justify-content-around site-foot">
        <div class="col-6 col-md-6 col-lg-3 text-center">
          <h3>Category</h3>
          <ul class="list-unstyled">
            <li class=""><a href="">Tech</a></li>
            <li><a href="">Banking & Finance</a></li>
            <li><a href="">Project Management</a></li>
            <li><a href="">Video Director</a></li>
            <li><a href="">Personal Assistant</a></li>
          </ul>
        </div>
        <div class="col-6 col-md-6 col-lg-3 text-center">
          <h3>Company</h3>
          <ul class="list-unstyled">
            <li><a href="">About Us</a></li>
            <li><a href="">Career</a></li>
            <li><a href="">Blog</a></li>
            <li><a href="">Resources</a></li>
          </ul>
        </div>
        <div class="col-6 col-md-6 col-lg-3 text-center">
          <h3>Contact</h3>
          <ul class="list-unstyled">
            <li><a href="">Support</a></li>
            <li><a href="">Privacy</a></li>
            <li><a href="">Terms Of Service</a></li>
          </ul>
        </div>
        <div class="col-6 col-md-6 col-lg-3 text-center">
          <h3>Follow Us</h3>
          <div class="footer-social">
            <a href=""><i class='bx bxl-facebook'></i></a>
            <a href=""><i class='bx bxl-instagram'></i></a>
            <a href=""><i class='bx bxl-twitter'></i></a>
            <a href=""><i class='bx bxl-linkedin'></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row text-center foot">
        <div class="col-12">
          <p class="text-white font-weight-normal mt-3">Copyright &copy;<span>confidojobs</span></p>
        </div>
      </div>
    </div>
</footer>