{% extends 'base.html' %}

{% load static %}

{% block content %}
<!-- header -->
<section class="job-head">
    <div class="container home-section">
            <div class="row">
              <div class="col-md-7">
                <h1 class="text-white font-weight-bold">{{apply.job_title}}</h1>
                <div class="custom-breadcrumbs">
                  <a href="index.html">Home</a> <span class="mx-2 slash">/</span>
                  <a href="{% url 'job_listing' %}">All Jobs</a> <span class="mx-2 slash">/</span> 
                  <a href="">{{apply.job_title}}</a> <span class="mx-2 slash">/</span> 
                  <span class="text-white"><strong>Apply Now</strong></span>
                </div>
            </div>
            </div>
      </div>
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand text-white" href="{% url 'home' %}">confidojobs</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav" >
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'home' %}">home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'job_listing' %}">job listing</a>
            </li>
            {% if user.is_authenticated and user.is_staff %}
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'post_job' %}"><span class="post-job"><i class="fa-solid fa-plus"></i> post job</span></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                profile
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="{% url 'employer_dashboard' %}">dashboard</a> 
                <a class="dropdown-item" href="{% url 'update' %}">edit profile</a>
              </div>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'signout' %}">logout</a>
            </li>
            {% elif user.is_authenticated %}
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'post_job' %}"><span class="post-job"><i class="fa-solid fa-plus"></i> post job</span></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                profile
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="{% url 'employee_dashboard' %}">dashboard</a> 
                <a class="dropdown-item" href="{% url 'update' %}">edit profile</a> 
              </div>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'signout' %}">logout</a>
            </li>
            {% else %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                register
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="{% url 'employer_signup' %}">employer</a> 
                <a class="dropdown-item" href="{% url 'employee_signup' %}">employee</a> 
              </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'signin' %}">login</a> 
          </li>
            {% endif %}
          </ul>
        </div>
      </nav>
</section>
  <!-- header done -->
<section class="joblist-sec">
    <div class="container">
      <div class="mt-5 apply-form">
          {% if request.user.is_authenticated %}
            <form action="{% url 'jobapply' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Cover Letter</label>
                    <textarea class="form-control" name="cover_letter" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlFile1">Upload CV</label>
                    <input type="file" name="resume" class="form-control-file" id="exampleFormControlFile1">
                </div>
                <div id="applynow">
                    <button type="submit" class="applynow">Submit</button>
                </div>
            </form>
          {% else %} 
            <h3 class="text-warning">You are not allowed to view this page</h3>
          {% endif %}
      </div>
    </div>
</section>
{% endblock content %}
{% block footer %} {% include "footer.html" %} {% endblock footer %}